{
  "presets": [
    "umi/babel"
  ],
  "plugins": [
    "transform-class-properties",
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "components": "./src/components",
          "utils": "./src/utils",
          "services": "./src/services",
          "models": "./src/models",
          "assets": "./src/assets"
        }
      }
    ]
  ]
}