body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background: #fff;
}
.main {
  min-width: 600px;
  height: 100%;
  overflow: hidden;
}
.scollFelx {
  padding: 7.5px;
  height: 100%;
  overflow-y: auto;
}
.prompt {
  margin-left: 20px;
  color: #c9c9c9;
}
.item,
.Image,
.time {
  padding: 10px;
  display: flex;
}
.item button,
.Image {
  margin-left: 120px;
}
.Image {
  padding-top: 0;
}
.time {
  height: 60px;
  margin-left: 120px;
}
.title,
.devtitle {
  padding: 10px;
  width: 120px;
  text-align: right;
}
.maxW {
  max-width: 250px;
  min-width: 50px;
}
.buddy > div > div {
  height: 100%;
  overflow: hidden;
}
.tablestyle {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}
